[zoiper_identify_sipp]
type=identify
endpoint=zoiper
match=0.0.0.0/0

[proxies]
type=endpoint
transport=k8s-internal-ipv4-internal-media
context=inbound
disallow=all
allow=ulaw
aors=proxies
ice_support=no
rtp_symmetric=yes

[proxies]
type=aor
{{range .EndpointIPs "kamailio" "voip"}}
contact=sip:{{.}}:5060
{{end}}

[proxies]
type=identify
endpoint=proxies
match=0.0.0.0/0

[acl]
type=acl
permit=0.0.0.0/0

[zoiper]
type=endpoint
context=from-internal
disallow=all
allow=ulaw
auth=zoiper
aors=zoiper
rtp_symmetric=yes
ice_support=no
force_rport=yes

[zoiper]
type=aor
contact=sip:1001@192.168.40.112:5088
